.main{
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 5%;
    
}

p{
    justify-content: center;
    display: flex;
    text-align: center;
    color: rgb(245, 64, 94) ;
    font-size: 45px;
    font-weight: 400;
}
.account{
    color: rgb(243, 13, 51);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}
.account:hover {
    color: rgb(88, 3, 17);
}
.right {
    
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border: none;
    color: rgb(70, 18, 26);
    border-radius: 50px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.left {
    
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border: none;
    color: rgb(109, 22, 37);
    border-radius: 50px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width:360px){

    .main{
        align-items: center;
        margin-top: auto 10%;
        margin-right: 25%;
        margin-left: 5%;
        margin-bottom: 100%;
    }
    .img{
        align-items: center;
        width: 500px;
        height: 700px;
        
    }
    .right{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50px;
        font-size: 20px;
        font-weight: 500;
    }
    .left{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 5px;
        font-size: 20px;
        font-weight: 500;
    }
    p{
        
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 300
    }
    .account{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 300
    }
    
}
